{{- if .Values.identity.json }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ziti-webhook.fullname" . }}-identity
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ziti-webhook.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
data:
  {{ include "ziti-webhook.managedSecretKey" . }}: {{ if kindIs "string" .Values.identity.json }}{{ .Values.identity.json | b64enc }}{{ else }}{{ .Values.identity.json | toJson | b64enc }}{{ end }}
{{- end }}
