{{- if or .Values.identity.cert .Values.identity.key .Values.identity.ca }}
{{- if not (and .Values.identity.cert .Values.identity.key) }}
{{- fail "When creating a secret from values, identity.cert and identity.key must be provided" }}
{{- end }}
{{- if and (not .Values.identity.ca) (not .Values.identity.trustBundle.enabled) }}
{{- fail "Either identity.ca must be provided or identity.trustBundle.enabled must be true" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ziti-webhook.fullname" . }}-identity
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ziti-webhook.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .Values.identity.cert }}
  tls.key: {{ .Values.identity.key }}
  {{- if .Values.identity.ca }}
  tls.ca: {{ .Values.identity.ca }}
  {{- end }}
{{- end }}
